<body>
  <div class="container bg-light">
    <div class="row">
      <div class="mx-auto">
        <div class="my-5">
            <h2>Add an image</h2>
            <p class="lead"></p>
            <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</body>
