<div class="container bg-light">
  <div class="row flex-lg-nowrap">
    <div class="col">
      <div class="row">
        <div class="col mb-3">
          <div class="">
            <div class="card-body text-center">
              <a href="<%= edit_item_path(@item) %>"><img src="<%= url_for(@item.image) %>"></a>
            </div>

            <div class="container">
              <div class="d-flex justify-content-center row">
                <div class="col-md-10">
                  <div class="p-3 bg-grey mt-2 rounded">
                    <strong><h4>Comments</h4></strong>
                  </div>
                  <div>
                    <%= render @item.comments %>
                  </div>
                  <% if current_user.present? %>
                    <div class="p-3 bg-grey mt-2 rounded">
                      <h4>Write a comment</h4>
                    </div>
                    <div>
                      <%= render 'comments/form' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


